@import tabs
@import noselect

.file-chooser-container
  @extend %noselect
  color: $tab-font-color
  background-color: $tab-bg-color

.file-chooser-title
  font-size: 24px
  font-weight: bold
  text-align: center
  padding: 10px

.file-chooser-new-file
  font-size: 24px
  font-weight: bold
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  width: 30px
  position: relative
  float: right
  right: 10px
  text-align: center
  border: 2px solid $tab-highlight-color
  border-bottom: none
  &:hover
    background-color: $tab-highlight-color

.file-list-container
  position: relative
  margin: 10px
  margin-top: 25px
  border: 2px solid $tab-highlight-color

.file-list-element
  background-color: $tab-bg-color
  &:hover
    background-color: $tab-highlight-color

.file-list-element-icon
  display: inline-block
  vertical-align: middle

.file-list-element-filename
  display: inline-block
  text-align: right
  vertical-align: middle
  margin-left: 8px
  font-size: 14px
