@import tabs
@import noselect

.file-chooser-container
  @extend %noselect
  color: $tab-font-color
  background-color: $tab-bg-color

.file-chooser-title
  font-size: 24px
  font-weight: bold
  text-align: center
  padding: 10px

.file-chooser-new-file
  font-size: 24px
  font-weight: bold
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  width: 30px
  position: relative
  float: right
  right: 10px
  text-align: center
  border: 2px solid $tab-highlight-color
  border-bottom: none
  &:hover
    background-color: $tab-highlight-color

.file-list-container
  position: relative
  width: 376px
  margin: 10px
  margin-top: 25px
  border: 2px solid $tab-highlight-color
  max-height: 250px
  overflow: scroll

.file-list-element
  background-color: $tab-bg-color
  &:hover
    background-color: $tab-highlight-color

.file-list-element-icon
  display: inline-block
  vertical-align: middle

.file-list-element-filename
  display: inline-block
  text-align: right
  vertical-align: middle
  margin-left: 8px
  font-size: 14px

$file-type-icon-width: 32px
$file-type-icon-height: 32px
$file-type-picker-width: $file-type-icon-width + 14px
$file-type-picker-height: $file-type-icon-height + 4px
.file-type-picker-container
  width: $file-type-picker-width
  height: $file-type-icon-height
  border: 2px solid $tab-highlight-color
  border-radius: 5px
  &:hover
    background-color: $tab-highlight-color

.file-type-picker-button
  width: 100%
  height: 100%

.file-type-picker-icon
  display: inline-block
  position: relative
  left: 0px
  width: $file-type-icon-width
  height: $file-type-icon-height

.file-type-picker-more-arrow
  display: inline-block
  position: relative
  float: right
  right: 2px
  top: $file-type-picker-height/2 - 3px

.file-type-picker-dropdown
  position: relative
  left: 12px
  padding: 0px
  background-color: $tab-bg-color
  border: 2px solid $tab-highlight-color
  border-top: none
  border-radius: 5px

.file-type-picker-dropdown-item
  padding: 5px
  border-top: 2px solid $tab-highlight-color
  &:hover
    background-color: $tab-highlight-color

.new-filename-input
  font-size: 16px
  color: $tab-font-color
  background-color: $tab-bg-color
  border: 2px solid $tab-highlight-color
  border-radius: 5px

.new-filename-input-invalid
  border-color: #7C0A02

.new-file-input-container
  display: inline-block
  padding: 5px
  padding-left: 8px
  vertical-align: middle

.new-file-file-type-container
  display: inline-block
  padding: 5px
  vertical-align: middle
