@import noselect

$font: Arial, Helvetica, sans-serif
$bg-color: #111111
$base-color: #222222
$border-color: #5A5A5A
$font-color: #BBBBBB
$highlight-color: #5EA1B2
$dim-highlight-color: darken($highlight-color, 20%)

$content-base-color: #3A3A3A
$content-border-color: #999999

$tab-height: 39px

textarea
  background-color: $content-base-color
  border: 2px solid $content-border-color
  border-radius: 4px
  color: $font-color
  &::selection
    background-color: $dim-highlight-color
  &:focus
    border-color: $dim-highlight-color

input
  -moz-appearance: textfield
  appearance: textfield
  &::-webkit-inner-spin-button, ::-webkit-outer-spin-button
    -webkit-appearance: none
  margin: 0px
  background-color: $content-base-color
  border: 2px solid $content-border-color
  border-radius: 4px
  color: $font-color
  &::selection
    background-color: $dim-highlight-color
  &:focus
    border-color: $dim-highlight-color

body
  padding: 0px
  margin: 0px

.react-tabs-container
  height: $tab-height

.main-panel-container
  width: 100%
  position: absolute
  top: $tab-height
  bottom: 0px
  overflow: scroll
  background-color: $bg-color

.node-editor-panel
  $grid-color: #333333
  $grid-line-size: 1px
  $grid-square-size: 80px
  margin: 0px
  padding: 0px
  width: 3000px
  height: 1500px
  background-size: $grid-square-size $grid-square-size
  background-image: linear-gradient(to right, $grid-color $grid-line-size, transparent $grid-line-size), linear-gradient(to bottom, $grid-color $grid-line-size, transparent $grid-line-size)
  background-color: $bg-color

.node-editor-contextmenu
  border: 2px solid $border-color
  border-top: 0px
  border-radius: 3px

.node-editor-contextmenu-item
  @extend %noselect
  font-family: $font
  background-color: $base-color
  color: $font-color
  padding: 2px
  padding-left: 5px
  padding-right: 40px
  margin: 0px
  border-top: 2px solid $border-color
  &:hover
    background-color: lighten($base-color, 10%)

.node-editor-compile-button
  position: absolute
  z-index: 2
  float: right
  top: 0px
  right: 0px
  font-family: $font
  color: $font-color
  font-size: 24px
  font-weight: bold
  background-color: lighten($base-color, 10%)
  border-radius: 3px
  border: 2px solid $border-color
  margin: 10px
  &:hover
    background-color: lighten($base-color, 5%)
  &:active
    background-color: $base-color

.node
  float: left
  display: inline-block
  font-family: $font
  background-color: $base-color
  color: $font-color
  border-radius: 16px
  border: 2px solid $border-color
  position: absolute
  margin: 0px
  padding: 10px

.node-content
  display: inline-block
  padding: 10px

.node-handle
  @extend  %noselect
  font-weight: bold
  color: #222222
  text-align: center
  background-color: $highlight-color
  border-radius: 3px
  padding: 3px

.node-input-label-container
  display: inline-block
  vertical-align: top
  padding: 5px
  margin: 0px

.node-input-circle-container
  position: absolute
  left: -16px
  top: 33px

%node-input-output-circle
  display: inline-block
  background-color: lighten($base-color, 5%)
  width: 16px
  height: 16px
  border-radius: 16px
  border-width: 2px
  border-style: solid
  > .tooltip
    @extend %noselect
    background-color: lighten($base-color, 10%)
    padding: 5px
    border-radius: 3px
    visibility: hidden
  &:hover > .tooltip
    visibility: visible

.node-input-circle
  @extend %node-input-output-circle
  position: relative
  margin: 5px

.node-input-output-circle-float
  border-color: #489E4F

.node-input-output-circle-vec3
  border-color: #BCB63E

.node-output-circle
  @extend %node-input-output-circle
  position: absolute
  float: right
  right: -12px
  top: 50%

.node-input-label
  @extend %noselect
  margin: 0px
  padding: 6px

.svg-connecting-line-container
  z-index: -1
  position: absolute
