.node
  float: left
  display: inline-block
  font-family: Arial, Helvetica, sans-serif
  background-color: #555555
  color: #FFFFFF
  border-radius: 16px
  border: 2px solid #777777
  position: absolute
  margin: 0px
  padding: 10px

.node-content
  display: inline-block
  padding: 10px

.node-handle
  text-align: center

.node-input-label-container
  display: inline-block
  vertical-align: top
  padding: 5px
  margin: 0px

.node-input-circle-container
  position: absolute
  left: -16px
  top: 33px

%node-input-output-circle
  display: inline-block
  background-color: #555555
  color: #FFFFFF
  width: 16px
  height: 16px
  border-radius: 16px
  border: 2px solid #FFA500

.node-input-circle
  @extend %node-input-output-circle
  position: relative
  margin: 5px

.node-output-circle
  @extend %node-input-output-circle
  position: absolute
  float: right
  right: -12px
  top: 50%

.node-input-label
  margin: 0px
  padding: 6px

.node-connecting-line
  border-top: 3px solid rgb(255, 165, 0)
  position: absolute
  top: 12px
  left: 10px
  z-index: -1
  transform-origin: 0px 0px 0px
