@import theme

.colorpicker-node

  .swatch
    padding: 5px
    background-color: $content-base-color
    border: 2px solid $content-border-color
    border-radius: 4px
    box-shadow: 0 0 0 1px rgba(0,0,0,.1)
    display: inline-block
    cursor: pointer

  .color
    width: 36px
    height: 14px
    border-radius: 2px

  .popover
    position: absolute
    z-index: 2

  .cover
    position: fixed
    top: 0px
    right: 0px
    bottom: 0px
    left: 0px
