@import ../theme

.node-editor-panel
  $grid-color: #333333
  $grid-line-size: 1px
  $grid-square-size: 80px
  margin: 0px
  padding: 0px
  width: 3000px
  height: 1500px
  background-size: $grid-square-size $grid-square-size
  background-image: linear-gradient(to right, $grid-color $grid-line-size, transparent $grid-line-size), linear-gradient(to bottom, $grid-color $grid-line-size, transparent $grid-line-size)
  background-color: $bg-color
