@import ../tabs

.file-list-container
  position: relative
  width: 376px
  margin: 10px
  margin-top: 25px
  border: 2px solid $tab-highlight-color
  max-height: 250px
  overflow: scroll

  .element
    background-color: $tab-bg-color
    &:hover
      background-color: $tab-highlight-color
      .trash
        visibility: visible

    .icon
      display: inline-block
      vertical-align: middle

    .filename
      display: inline-block
      text-align: right
      vertical-align: middle
      margin-left: 8px
      font-size: 14px

    .type-signature-container
      display: inline-block
      vertical-align: middle
      font-size: 12px
      font-weight: bold
      position: relative
      float: right
      right: 55px
      top: 7px

      .no-inputs-padding
        display: inline-block
        vertical-align: middle
        width: 6px

      %data-type
        $size: 8px
        width: $size
        height: $size
        border-radius: $size
        display: inline-block
        vertical-align: middle
        margin: 5px

      .data-type-float
        @extend %data-type
        background-color: #489E4F

      .data-type-vec3
        @extend %data-type
        background-color: #BCB63E

    .trash
      visibility: hidden
      display: inline-block
      transform: scale(0.75)
      position: absolute
      float: right
      right: 12px

      &:hover
        transform: scale(0.875)
