@import ../theme
@import ../noselect

.render-hud

  .step-gradient-container
    $step-gradient-width: 150px
    @extend  %noselect
    position: absolute
    float: right
    right: 0px
    bottom: 0px
    margin: 20px
    font-family: $font
    color: $font-color
    font-size: 16px
    font-weight: bold
    background-color: rgba(0,0,0,0.8)
    padding: 28px
    width: 150px
    border: 1px solid #555555

    .step-gradient
      position: absolute
      background-image: linear-gradient(to right, #000000,#FFFFFF)
      width: $step-gradient-width
      height: 20px
      border: 2px solid #333333

      %number
        @extend %noselect
        position: absolute
        top: -16px
        font-size: 14px
        font-weight: bold

      .number-left
        @extend %number
        left: -10px

      .number-middle
        @extend %number
        left: ($step-gradient-width/2) - 10px

      .number-right
        @extend %number
        left: ($step-gradient-width) - 8px
